div.orange p{
    color:limegreen
}



div.purple p {
color: red
}



div .dashed span {
color: magenta;
}



div .shadowed p {
background-color: skyblue;
}



div.dog-days img{
    border-radius: 50%;
}


