#palette-group
{font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;}

#palette-color-1
{font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
background-color: #5f634f;}

#palette-color-2
{font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
background-color: #9bc4cb;}

#palette-color-3
{font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
background-color: #cfebdf;}

#palette-color-4
{font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
background-color: #e2fadb;}

#palette-color-5
{font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
background-color: #dbefbc;}

