#d1-div1{
    margin-bottom: 20px;
}


#d2-div2 {
    margin-top: 20px;
    margin-bottom: 20px;
}


#d3-div2{
    margin-top: 25px;
}


#d4-div2{
    margin-top: 25px;
    margin-bottom: 25px;
}


.d5-div{
    text-align: center;
}

#d5-h5-1{
    margin-bottom: 0px;
}

#d5-h1-1{
    margin: 0px;
}

#d5-h2-1{
    margin-top: 8px;
}


.d6-div{
    margin-right: 50px;
}


#d7-div1 {
    margin-left: 100px;
}
    
#d7-div2 {
    margin-left: 50px;
}
    
#d7-div3 {
    margin-left: 50px;
}